.current-weather {
  letter-spacing: 0.5px;
  font-weight: 300;
  color: #4A4A4A;
  .wi {
    font-size: 80px;
    margin-bottom: 0.5rem;
  }
  .heading-info{
    margin-bottom: 93px;
    .time { font-size: 25px; }
    .temp {
      font-size: 20px;
      text-transform: uppercase;
    }
  }
  .city {
    font-size: 100px;
    letter-spacing: 0px !important;
    font-weight: 100;
    margin-bottom: 25px;
  }
  .conditions {
    display: inline-flex;
    span {
      display: inline-block;
      height: 100px;
      padding: 0px 27px;
      top: 50%;
      position: relative;
      transform: translateY(-50%);
    }
    h2 { font-size: 39px; }
    p {
      margin: 0px;
      text-transform: capitalize;
    }
  }
}

// Responsive Styles
@media(max-width: 991px) {
  .conditions { display: initial !important; }
  .temp { margin-top: 50px; }
  .heading-info { margin-bottom: 40px !important; }
}

@media(max-width: 767px) {
  .current-weather {
    .wi { font-size: 130px !important; }
  }
  .conditions {
    p { font-size: 25px; }
    span { height: 100% !important; }
  }
}

@media(max-width: 576px) {
  .city {
    font-size: 60px !important;
    margin-bottom: 45px !important;
  }
  .temp { margin-top: 50px; }
  .heading-info { margin-bottom: 20px !important; }
}
