<div class="current-weather">
  <div class="row">
    <div class="col-12 heading-info">
      <span class="align-center time">
        {{currentWeather.time | date:'EEEE, MMMM d, y'}}
      </span>
      <span class="float-left temp hidden-sm-down">
        {{currentWeather.tempHigh}} High
      </span>
      <span class="float-right temp hidden-sm-down">
        {{currentWeather.tempLow}} Low
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-6 city">
      {{currentWeather.cityName}}
    </div>
    <div class="col-xs-12 col-lg-6 conditions">
      <span class="hidden-sm-down">
        <div class="condition-wrapper hidden-sm-down">
          <h2>{{currentWeather.temp}}</h2>
          <p>Current Temp</p>
        </div>
      </span>
      <span>
        <div class="condition-wrapper ">
          <i class="wi" [ngClass]="currentWeather.icon" [style.color]="currentWeather.color"></i>
          <p>{{currentWeather.description}}</p>
        </div>
      </span>
      <span class="hidden-sm-down">
        <div class="condition-wrapper hidden-sm-down">
          <h2>{{currentWeather.humidity}}</h2>
          <p>Humidity</p>
        </div>
      </span>
    </div>
  </div>
</div>